@import './../../styles/utils.scss';

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border: 1px solid #d3d3d3;
}

.checkbox-container:hover input ~ .checkmark {
    background-color: lighten($color: #d3d3d3, $amount: 11);
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #247a00;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.toggle{

    &__point {
        width: 24px;
        height: 24px;
        position: relative;
        @extend %flex-center;
    
        border-radius: 50%;
        border: 1px solid #d3d3d3;
    
        margin-right: 14px;
    
        &::before {
          @extend %toggle-point;
        }
    
        &::after {
          @extend %toggle-point;
          transform: rotate(90deg);
        }
    }

    &__close {
        width: 46px;
        height: 46px;
        position: absolute;
        top: 25px;
        right: 25px;
        @extend %flex-center;

        border-radius: 50%;
        background: #fff;
        transition: transform 200ms;      

        &::before {
            @extend %toggle;
            transform: rotate(45deg);
        }

        &::after {
            @extend %toggle;
            transform: rotate(135deg);
        }

        &:hover {
            transform: scale(1.1);
            background: darken(#fff, 10);
        }
    }
}