.restaurant-page {
  &__img-wrapper {
    height: 380px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }

  &__img {
    width: 100%;
  }

  &__title {
    position: absolute;
    top: 25%;
    left: 0;

    padding: 24px 40px 24px 98px;

    z-index: 1;
    background-color: #fff;

    @media (min-width: 1500px) {
      padding-left: 264px;
    }

    @media (max-width: 770px) {
      width: 500px;
      left: 50%;
      top: 70%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);

      padding: 24px 100px 0 62px;
    }

    @media (max-width: 550px) {
      width: 280px;
      top: 60%;

      text-align: left;
      padding: 24px 20px 0 22px;
    }

    @media (max-width: 360px) {
      top: 50%;
    }

    // @media (max-width: 600px) {
    //   left: 8%;
    // }

    &:nth-child(even),
    &:nth-child(odd) {
      padding-bottom: 18px;
    }
  }

  .page__title_indent {
    margin-bottom: 18px;
  }

  .title {
    font-size: 36px;
    line-height: 150%;
    color: #1d1d1d;
    font-weight: 500;

    @media (max-width: 770px) {
      font-size: 28px;
    }
  }

  .categories {
    font-size: 14px;
    line-height: 21px;
    color: #757575;
  }

  .location {
    font-size: 14px;
    line-height: 150%;
    color: #000;

    &-wrapper {
      display: flex;
      color: #000;

      @media (max-width: 770px) {
        display: none;
      }
    }

    &__info {
      font-size: 14px;
      color: #247a00;
    }

    &__dot {
      color: #000;
      margin: 0 5px;
    }
  }
}

.hero {
  position: relative;
  margin-bottom: 60px;

  @media (max-width: 770px) {
    margin-bottom: 60px;
  }
}

.restaurant{
  &-title {
    font-weight: 500;
    font-size: 20px;
    color: #000;

    margin-bottom: 20px;
  }

  &__menu {
    position: sticky;
    z-index: 3;
    top: 0;
    background: #fff;
    padding: 30px 20px 10px 0;

    &-items {
      display: flex;
      overflow-x: scroll;

      &::-webkit-scrollbar { 
        width: 3px; 
        height: 5px;
      }

      &::-webkit-scrollbar-track-piece { 
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb { 
        height: 50px; 
        background-color: #666; 
        border-radius: 3px;
      }
    }
  }

  &__items {
    margin-bottom: 40px;
  }
}

.active {
  &::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #333;
    height: 1px;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.menu {
  &__item {
    position: relative;
    margin-right: 24px;
    margin-bottom: 5px;

    &:last-child {
      margin-right: 0;
    }

    &-btn {
      position: relative;
      height: 42px;

      font-size: 14px;
      color: #000;

      white-space: nowrap;
      transition: color 300ms;

      &:hover {
        color: #5FB709;
      }

      &:hover::after {
        content: '';
        position: absolute;
        height: 1px;
        width: 100%;
        background-color: #000;
        bottom: 0;
        left: 0;

        animation: menu-hover-animation 0.3s;
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 40px 20px;
}

.item {
  display: flex;
  justify-content: space-between;

  height: 158px;

  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  cursor: pointer;

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 50%;
    padding: 0 16px;
  }

  &__title {
    margin-bottom: 4px;
    padding-top: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 21px;

    color: #000;
  }

  &__description {
    display: inline-block;

    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 17px;

    font-size: 14px;
    line-height: 21px;

    color: #626262;
  }

  &__price {
    padding-bottom: 16px;

    font-size: 16px;
    font-weight: 500;
    line-height: 21px;

    color: #000;
  }

  &-right {
    display: flex;
    border-left: 1px solid #e0e0e0;
    max-width: 156px;
    height: 155px;
  }

  &__img {
    width: 100%;
    height: 100%;
    align-self: center;
  }
}

.eta {
  font-size: 14px;
  padding: 2px 8px;
  margin-bottom: 18px;

  display: inline-block;
  color: #000;
  background-color: #f5f5f5;

  @media (max-width: 770px) {
    margin-bottom: 0;
  }
}

@keyframes menu-hover-animation {
  0% {
    width: 0%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
